<!--<HTML><BODY>
<H1>Account Information  <%= console.log(c[0].name); %></H1>
<ol>
   
   <% c.forEach(function(account) { %>
  <p>Account id is : <%= account.id %></P>
  <p>Account name is : <%= account.name %></p>
  <% });                        %>
<ol>

</BODY></HTML>


-->


<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<title>Account Information</title>
<style>
  
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<stype
</head>
<body>
<script>
//function goBack() {window.history.back();}


	
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkfp0OSPZ0fl8ZF3a0tea-mp36-mp_8b8&callback=loadMap"></script>
<div class="w3-container w3-teal">
  <h1>Account Information</h1>
</div>

<div class="w3-container">
<p>
<label class="w3-label w3-validate">Account name is : <%= c[0].name %></label></p>
<label class="w3-label w3-validate">Account id is : <%= c[0].id %></label></p>

<p>
</div>

<div class="w3-container">

 <a class="w3-btn w3-section w3-teal w3-ripple" href=/list>OK</a></p>
</div>
</body>
</html>

